body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input {
  height: 2em;
  width: 100%;
  background-color: var(----vscode-input-background);
  color: var(--vscode-input-foreground);
  padding: 0.5em;
  border: 1px solid var(--vscode-input-border);
}

.conversation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
}

.message {
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
}

.message.user {
  background-color: blue;
  margin-left: 3em;
  align-self: flex-end;
}

.message.assistant {
  background-color: purple;
  margin-right: 3em;
  align-self: flex-start;
}

.message.system {
  background-color: gray;
  margin-right: 3em;
  align-self: flex-start;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  padding: 0.5em;
  margin: 0.5em;
  border: 0;
}

.button:hover {
  background-color: var(--vscode-button-hoverBackground);
}